Forma/Connected Services/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ReadFromFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="path" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadFromFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReadFromFileResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WriteToFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="path" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="text" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WriteToFileResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EncryptDecryptRC4">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="input" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EncryptDecryptRC4Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EncryptDecryptRC4Result" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EncryptTea">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Data" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Key" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EncryptTeaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EncryptTeaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DecryptTea">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Data" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Key" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DecryptTeaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DecryptTeaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DecryptCBC">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="data" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="aesKey" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="initVec" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DecryptCBCResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DecryptCBCResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EncryptCBC">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="data" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="aesKey" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="initVec" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EncryptCBCResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EncryptCBCResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EncryptBMP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="path" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="vec" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EncryptBMPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EncryptBMPResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DecryptBMP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="path" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="vec" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DecryptBMPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DecryptBMPResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessFileInParallel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="inputFile" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="outputFile" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="aesKey" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="initVec" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="numThreads" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessFileInParallelResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EncryptDecryptEnigma">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="plaintext" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reflector" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="plugboard" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EncryptDecryptEnigmaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EncryptDecryptEnigmaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalculateCRC">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="buf" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="size" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalculateCRCResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CalculateCRCResult" type="xs:unsignedInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EncryptDecryptEnigmaParallel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="plaintext" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reflector" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="plugboard" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="numThreads" type="xs:int" />
        <xs:element minOccurs="0" name="inputFile" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="outputFile" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EncryptDecryptEnigmaParallelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EncryptDecryptEnigmaParallelResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EncryptTeaParallel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Data" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Key" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="numThreads" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EncryptTeaParallelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EncryptTeaParallelResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DecryptTeaParallel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Data" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Key" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="numThreads" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DecryptTeaParallelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DecryptTeaParallelResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>